.promo__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 30px;
  }
}

.promo__intro {
  margin: 0;
  text-transform: uppercase;
}
