.visited__title{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 21px;
  }
}

.visited__list {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.visited__option {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
